* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    color: white;
}

#workspaces {
	background-color: #24283b;
	margin: 5px;
	margin-left: 10px;
	border-radius: 5px;
}

#workspaces button {
    padding: 0 5px;
    color: #c0caf5;
}

#workspaces button:hover {
	background-color: #7dcfff;
	color: #24283b;
	border-radius: 5px;
}

#workspaces button.focused {
    color: #24283b;
    background-color: #7aa2f7;
    border-radius: 5px;
}

#clock, #network, #wireplumber, #custom-power, #hyprland-window {
    color: #b7b7b7;
	background-color: #24283b;
	padding: 5px 10px;
	margin: 5px 0px;
}
